<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,230},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,344},{112,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{112,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{112,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>00/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,528},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{112,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>01/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,438},{88,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{88,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>01/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{108,108}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{108,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>01/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,116},{112,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{112,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>01/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{64,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{64,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{876,544}}</string>
                <key>offset</key>
                <string>{-72,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{876,544}}</string>
                <key>sourceSize</key>
                <string>{1024,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_0_7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05294d2a69a7f3085854dfc6509faa51:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_0_7.png</string>
        </dict>
    </dict>
</plist>
